@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Noto+Sans');
body {
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
    background-color: azure;
}

#topnav {
    margin-bottom: 0;
}

#header {
    color: azure;
    text-shadow: 2px 2px 5px orange;
    background-image: url("img/sunset.jpg");
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 30%;
}

#footer {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #B8BBC4;
    /*color: #0F131E;*/
}

.fancy-font {
    font-family: "Fugaz One", sans-serif;
}

.header-content {
    padding-top: 1.5%;
    padding-right: 3em;
}

.content-area {
    padding: 2em 0 2em 0;
}

.content-group {
    padding: 3.5em;
}

@media screen and (max-width:992px) {
    .content-area {
        padding: 1em 0 1em 0;
    }
    .content-group {
        padding: 0.5em 2.5em;
    }
    #header h1{
        font-size: 28px;
    }
    #header h4{
        font-size:14px;
    }
    #footer h4{
        font-size:14px;
    }
    #footer h5{
        font-size: 12px;
    }
}